<div class="container">
    <div class="row"> 
      <div class="col-sm col-lg">
        <div class="card h-100">
          <img *ngIf="court != null && court.url != null" [src]="court['url']" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 *ngIf="court != null && court.name != null" class="card-title">{{court['name']}}</h5>
            <div class="card-header">
              <small class="text-muted">Dimension</small>
            </div>
            <p *ngIf="court != null && court.dimension != null" class="card-text">{{court['dimension']}}</p>
            <div class="card-header">
              <small class="text-muted">Vrsta</small>
            </div>
            <p *ngIf="court != null && court.type != null" class="card-text">{{court['type']}}</p>
            <div class="card-header">
              <small class="text-muted">Covered</small>
            </div>
            <p *ngIf="court != null && court.covered != null" class="card-text">{{court['covered'] === true ? 'Da' : 'Ne'}} </p>
          </div>
          
        </div>
            <div *ngIf="court != null && court.reservationCourtInfos != null" class="container">
                <div class="row">
                  <div class="col-sm">
                    <p>Upcoming reservations</p>

                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        
                      </tr>
                      </thead>
                      <tbody>

                      <tr *ngFor="let timeslot of court.reservationCourtInfos; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ timeslot.start | datePipe}}</td>
                        <td>{{ timeslot.end   | datePipe}}</td>
                      </tr>
                      </tbody>
                    </table>
                  
                  </div>
                </div>
            </div>

      </div>

      <div class="col-sm col-lg">
          <p style="margin-top: 30px;">Please select timeslots:</p>
            <div>
                <label for="start">Select start:</label>
                <input type="datetime-local" [ngModel]="startDate | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="dateChangedStart($event)" id="start" name="start">            
            </div>
            <div style="margin-top: 20px;">
                <label for="end">Select end:</label>
                <input type="datetime-local" [ngModel]="endDate | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="dateChangedEnd($event)" id="end" name="end">
            </div>

            <div style="margin-top: 20px;">
              <button (click)="addTimeslot()">Add timeslot</button>
            </div>
    
            <p style="margin-top: 30px;">Select user for reservation (optional):</p>
            <div *ngIf="users != null">
              
              <select [ngModel]="selectedUser" (ngModelChange)="onUserSelected($event)" name="userslist">
                <!-- <option selected="selected">No selected user</option> -->
                <option [ngValue]="u" *ngFor="let u of users">{{u['username']}}</option>

              </select>
            </div>
            

            <p style="margin-top: 30px;">Please select payment type:</p>
            <form [formGroup]="paymentTypeForm">
              <div class="btn-group" role="group" ngbRadioGroup name="radioBasic" formControlName="type">
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" class="btn-check" [value]="1" (click)="changePaymentTypeToCash()" > Cash
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" class="btn-check" [value]="2" (click)="changePaymentTypeToCard()"> Card
                </label>
              </div>
            </form>
            <hr>
           


            <form [formGroup]="stripeForm" style="margin-top: 30px;">
              <div class="form-group">
                <label for="name">First and last name</label>
                <input type="name" class="form-control"  formControlName="name" id="name" aria-describedby="nameHelp" placeholder="Enter your first and last name">
                <div *ngIf="stripeForm.dirty">
                  <small class="text-danger" *ngIf="stripeForm.get('name')!.hasError('required')">
                      This field is required.
                  </small>
                  <small class="text-danger" *ngIf="stripeForm.get('name')!.hasError('minlength')">
                    The minimum length for this field is {{stripeForm.get('name').errors['minlength'].requiredLength}} characters.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control"  formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div *ngIf="stripeForm.dirty">
                  <small class="text-danger" *ngIf="stripeForm.get('email')!.hasError('required')">
                      This field is required.
                  </small>
                </div>
              </div>
              <div style="margin-bottom: 5px;" class="form-group">
                <label for="amount">Amount [EUR]</label>
                <input type="number" formControlName="amount"   class="form-control" id="amount" [disabled]="true" required>
                <small class="text-danger" *ngIf="stripeForm.get('amount').hasError('required')">
                  This field is required.
                </small>
                <small class="text-danger" *ngIf="stripeForm.get('amount').hasError('min') ">
                  Price must be 0 or positive number.
                </small>
              </div>


              <div style="margin-bottom: 30px;"></div>
              <ng-container *ngIf="paymentType == 'cash'">
                <button id="paymentButton" [disabled]="timeslots.length <= 0 || stripeForm.invalid" id="paymentButton" (click)="payByCash()">Book reservations</button>
              </ng-container>

              <ng-container *ngIf="paymentType == 'card'">

                  <div style="margin-bottom: 30px;"></div>
                  <ng-container *ngIf="!paymentIntentExists">
                    <button [disabled]="timeslots.length <= 0 || stripeForm.invalid" id="paymentButton" (click)="fetchPaymentIntent()">Procede to checkout
                      <div class="spinner hidden" id="spinner"></div>
                    </button> 
                  </ng-container>

                  
                  <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">
                    <ngx-stripe-payment [clientSecret]="clientSecret">
                    </ngx-stripe-payment>
                
                    <div style="margin-bottom: 30px;"></div>
                    <button [disabled]="timeslots.length <= 0 || stripeForm.invalid"  id="paymentButton" (click)="payByCard()">Book reservations and pay
                      <div class="spinner hidden" id="spinner"></div>
                    </button>
                  </ng-container>

                  <ng-container *ngIf="errorButton">
                    <button id="errorButton" (click)="reloadPage()">{{outcomeText}}</button>
                  </ng-container>

                  <ng-container *ngIf="successButton">
                    <button id="successButton" (click)="goToHomePage()">{{outcomeText}}</button>
                  </ng-container>

              </ng-container>
              
             </form>
      </div>

      <div class="col-sm col-lg">
        <p>Selecte timeslots reservations for Court 1</p>
         <table class="table table-striped">
           <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Start</th>
             <th scope="col">End</th>
             <th scope="col">Remove</th>
           </tr>
           </thead>
           <tbody>
           <tr *ngFor="let timeslot of timeslots; index as i">
             <th scope="row">{{ i + 1 }}</th>
             
             <td>{{ timeslot.start | datePipe}}</td>
             <td>{{ timeslot.end  | datePipe}}</td>
             <td><button (click)="removeTimeslote(i)" >Remove</button></td>
           </tr>
           </tbody>
           <div *ngIf="outcomeText">{{outcomeText}}</div>
         </table>
      
      </div>
      
    </div>
  </div>