<!-- <input type="datetime-local" [ngModel]="filterDateFrom | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="dateChanged($event)"/> -->
<input type="datetime-local" [ngModel]="filterDateFrom | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="dateChanged($event)"/>

<form [formGroup]="radioGroupForm">
    <div class="btn-group" role="group" ngbRadioGroup name="radioBasic" formControlName="type">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" class="btn-check" [value]="1" > Cash
      </label>
      <!-- [value]="1" <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" class="btn-check" value="middle"> Middle
      </label> -->
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" class="btn-check" [value]="2"> Card
      </label>
    </div>
  </form>
  <hr>
  <pre>{{radioGroupForm.value['type']}}</pre>