<div *ngIf="mode == 'register'">
    <div class="container">
      <div class="row">
          <div class="form-inline justify-content-center">
            <form *ngIf="courtForm" [formGroup]="courtForm"  class="row g-3 needs-validation" novalidate>
              
              <div class="col-md-4">
                <label for="username" class="form-label">Covered:</label><br>
                <div class="btn-group"  role="group" ngbRadioGroup name="radioBasic" >
                    <label ngbButtonLabel class="btn-primary">
                      <input class="form-control" formControlName="covered" ngbButton type="radio" class="btn-check" [value]="1" (click)="changeCoveredToTrue()" > Yes
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                      <input class="form-control" formControlName="covered" ngbButton type="radio" class="btn-check" [value]="2" (click)="changeCoveredToFalse()"> No
                    </label>            
                </div>
              
              </div>
  
              <div class="col-md-4">
                <label for="email" class="form-label">Type</label>
                <input type="text" class="form-control" formControlName="type" id="type" aria-describedby="inputGroupPrepend" required>
                <small class="text-danger" *ngIf="courtForm.get('type').hasError('required')">
                    This field is required.
                </small>
              </div>
  
              <div class="col-md-4">
                <label for="lozinka" class="form-label">Dimensions:</label>
                <input type="text" class="form-control" formControlName="dimension" id="dimension"  aria-describedby="inputGroupPrepend" required>
      
                <small class="text-danger" *ngIf="courtForm.get('dimension').hasError('required')">
                    This field is required.
                </small>
              </div> 

              <div class="col-md-4">
                <label for="lozinka" class="form-label">Price:</label>
                <input type="number" class="form-control" formControlName="price" id="price"  aria-describedby="inputGroupPrepend" required>
                <small class="text-danger" *ngIf="courtForm.get('price').hasError('required')">
                  This field is required.
                </small>
                <small class="text-danger" *ngIf="courtForm.get('price').hasError('min') ">
                  Price must be positive number.
                </small>
             </div> 

              <div class="col-md-4">
                <label for="lozinka" class="form-label">Name:</label>
                <input type="text" class="form-control" formControlName="name" id="name"  aria-describedby="inputGroupPrepend" required>
      
                <small class="text-danger" *ngIf="courtForm.get('name').hasError('required')">
                    This field is required.
                </small>
              </div>

              <h1>Court image upload:</h1>
              <input value="" type="file" name="title" (change)="onFileSelected($event) ">
              <mat-nav-list>
                  <mat-list-item *ngIf="selectedFile" > {{ selectedFile.name }} </mat-list-item>
              </mat-nav-list>
              
              <div class="col-12">
                <button class="btn btn-primary" (click)="submitFormCreate()"  type="submit">Create new Court</button>
              </div>
            </form>
          </div>
      </div>
    </div>

  </div>


  <div *ngIf="mode == 'edit'">
    <div class="container">
      <div class="row">
          <div class="form-inline justify-content-center">
            <p style="margin-top: 30px;">Select court:</p>
            <select [ngModel]="selectedCourt" (ngModelChange)="onCourtSelected($event)" name="courtslist">
                <option [ngValue]="c" *ngFor="let c of courts">{{c['name']}}</option>
            </select>

            <p style="margin-top: 30px;">Disable court</p>
            <div class="col-12">
                <button class="btn btn-primary"  [disabled]="!selectedCourt" (click)="deactivateCourt()"  type="submit">Deactivate court</button>
            </div>


            <p style="margin-top: 30px;"></p>
            <form *ngIf="courtForm && selectedCourt" [formGroup]="courtForm"  class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="Id" class="form-label">ID</label>
                    <input type="text" class="form-control" [disabled]="disableId" formControlName="id" id="id" aria-describedby="inputGroupPrepend">
                </div>

                <p>Covered:</p>
                <div class="btn-group"  role="group" ngbRadioGroup name="radioBasic" >
                    <label ngbButtonLabel class="btn-primary">
                      <input class="form-control" formControlName="covered" ngbButton type="radio" class="btn-check" [value]="1" (click)="changeCoveredToTrue()" > Yes
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                      <input class="form-control" formControlName="covered" ngbButton type="radio" class="btn-check" [value]="2" (click)="changeCoveredToFalse()"> No
                    </label>            
                </div>

                <div class="col-md-4">
                    <label for="email" class="form-label">Type</label>
                    <input type="text" class="form-control" formControlName="type" id="type" aria-describedby="inputGroupPrepend" required>
                    <small class="text-danger" *ngIf="courtForm.get('type').hasError('required')">
                        This field is required.
                    </small>
                </div>
      
                <div class="col-md-4">
                    <label for="lozinka" class="form-label">Dimensions:</label>
                    <input type="text" class="form-control" formControlName="dimension" id="dimension"  aria-describedby="inputGroupPrepend" required>
          
                    <small class="text-danger" *ngIf="courtForm.get('dimension').hasError('required')">
                        This field is required.
                    </small>
                </div> 

                <div class="col-md-4">
                  <label for="lozinka" class="form-label">Price:</label>
                  <input type="number" class="form-control" formControlName="price" id="price"  aria-describedby="inputGroupPrepend" required>
                  <small class="text-danger" *ngIf="courtForm.get('price').hasError('required')">
                    This field is required.
                  </small>
                  <small class="text-danger" *ngIf="courtForm.get('price').hasError('min') ">
                    Price must be positive number.
                  </small>
               </div> 
    
                <div class="col-md-4">
                    <label for="lozinka" class="form-label">Name:</label>
                    <input type="text" class="form-control" formControlName="name" id="name"  aria-describedby="inputGroupPrepend" required>
          
                    <small class="text-danger" *ngIf="courtForm.get('name').hasError('required')">
                        This field is required.
                    </small>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" (click)="submitFormEdit()"  type="submit">Save changes</button>
                </div>

                
              <h1>Court image upload:</h1>
              <input value="" type="file" name="title" (change)="onFileSelected($event) ">
              <mat-nav-list>
                  <mat-list-item *ngIf="selectedFile" > {{ selectedFile.name }} </mat-list-item>
              </mat-nav-list>

                <label for="validationCustom03">Court image:</label>
                <ng-container *ngIf="selectedCourt['url']; " >
                    <div class="col-lg-12">
                        <img src="{{selectedCourt['url']}}" class="card-img-top" alt="...">
                    </div> 
                </ng-container>

                <ng-container *ngIf="selectedUrl" >
                    <div class="col-lg-12">
                        <img [src]="selectedUrl" class="card-img-top" alt="...">
                    </div> 
                </ng-container>
            </form>
          </div>
      </div>
    </div>
</div>

